body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* .sidebar {
  width: 150px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  text-align: center;
} */

.main-content {
  flex: 1;
  margin-left: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 40px;
  text-align: left;
  flex-wrap: nowrap;
}

.about-content {
  max-width: 900px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.about-summary {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.skills-and-coursework {
  max-width: 100%;
  display: flex;
  gap: 20px;
}

.skills-section, .coursework-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 280px;
}

.card-image {
  width: 280px;
  height : 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  color: #0077b5;
  margin-top: 7px;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.55;
  color: #555;
}

.about-summary h2, .skills-section h3, .coursework-section h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #0077b5;
  margin-top: 0;
}

.about-summary p, .skills-section ul, .coursework-section ul {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #555;
}

.gsulogo{
  max-height: 100px;
}

@media (max-width: 1400px) {
  .about-section {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .skills-and-coursework {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .about-content {
    min-width: 540px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  /* .card-content {
    margin-left: 120px;
    text-align: center;
  } */

  .card-title {
  font-size: 1.5rem;
  color: #0077b5;
  margin-top: 7px;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.55;
  color: #555;
}

.card-image {
  min-width: 320px;
  max-height: 420px;
  border-radius: 10px;
}

.profile-card {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  min-width: 97.7%;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

}

@media (max-width: 900px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px;
  }

  .about-summary h2, .skills-section h3, .coursework-section h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
  }

  .about-summary p, .skills-section ul, .coursework-section ul {
    text-align: left;
    font-size: 1.35rem;
    margin-bottom: 0px;
  }

  .about-section {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .skills-and-coursework {
    flex-direction: column
  }

  .about-content {
    min-width: 200px;
    max-width: 100%;
    margin: 0;
  }

  .profile-card {
    flex-direction: row;
    min-width: 100%;
    min-height: 300px;
  }

  .card-image {
    min-width: 300px;
  }

  .about-summary, .skills-section, .coursework-section {
    margin: 10px 0;
  }

  .gsulogo{
    max-height: 130px;
  }
}

@media (max-width: 700px) {
  .about-summary p, .skills-section ul, .coursework-section ul {
    font-size: 1.0rem;
  }

  .card-image {
    min-width: 225px;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px;
    margin: 10px 0px;
  }

  .card-content {
    margin-left: 0px;
  }

  .skills-and-coursework {
    flex-direction: column;
    gap: 1px;
  }

  .profile-card {
    margin-top: 10px;
    flex-direction: row;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-top: 0px;
  }

  .profile-card {
    margin: 0 auto;
  }

}

@media (max-width: 580px) {
  .card-image {
    min-width: 200px;
  }

  .profile-card {
    margin-top: 10px;
    flex-direction: column;
  }


}

/* @media (max-width: 375px) {
  .card-image {
    min-width: 100px;
  }
  .card-image-container {
    min-width: 100px;
  }
}

@media (max-width: 320px) {
  .card-image {
    min-width: 100px;
  }
  .card-image-container {
    min-width: 100px;
  }
} */