body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.main-content {
  flex: 1;
  margin-left: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.about-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 40px;
  text-align: left;
  flex-wrap: nowrap;
}

.about-content {
  max-width: 900px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.about-summary {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.skills-and-coursework {
  max-width: 100%;
  display: flex;
  gap: 20px;
}

.skills-section, .coursework-section {
  flex: 1;
  padding: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  min-height: 600px;
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-image-container {
  min-width: 280px;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  color: #0077b5;
  margin-top: 7px;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.55;
  color: #555;
}

.about-summary h2, .skills-section h3, .coursework-section h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #0077b5;
  margin-top: 0;
}

.about-summary p, .skills-section ul, .coursework-section ul {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #555;
}

.gsulogo{
  max-height: 100px;
}

@media (min-width: 1024px) {
  .skills-section h3, .coursework-section h3 {
      text-align: left;
      padding: 0px 20px;
    }

  .about-summary h2{
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .about-content {
    min-width: 580px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

}

@media (max-width: 768px) {
  
  .skills-and-coursework {
    margin-bottom: 10px;
  }

  .about-summary p, .skills-section ul, .coursework-section ul {
    text-align: left;
    font-size: 1.35rem;
    margin-bottom: 0px;
  }
  
  .about-section {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .about-content {
    min-width: 200px;
    max-width: 100%;
    margin: 0;
  }

  .card-content {
    margin-left: 25px;
    text-align: center;
  }

  .profile-card {
    max-width: 100%;
    flex-direction: row;
    min-width: 720px;
    min-height: 350px;
  }

  .card-image {
    min-width: 300px;
    max-height: 300px;
    margin-left: 20px;
    border-radius: 10px;
  }

  .about-summary, .skills-section, .coursework-section {
    margin: 10px 0;
  }

  .gsulogo{
    max-height: 130px;
  }
}

@media (max-width: 480px) {
  .about-summary p, .skills-section ul, .coursework-section ul {
    font-size: 1.0rem;
  }

  .card-image {
    min-width: 225px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px;
    margin: 10px 0px;
  }

  .card-content {
    margin-left: 0px;
  }

  .skills-and-coursework {
    flex-direction: column;
    gap: 1px;
    margin-bottom: 0px;
  }

  .profile-card {
    margin-top: 10px;
    flex-direction: column;
    min-width: 0px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-top: 0px;
  }

}

@media (max-width: 425px) {
  .card-image {
    min-width: 300px;
  }
}

@media (max-width: 375px) {
  .card-image {
    min-width: 270px;
  }
}

@media (max-width: 320px) {
  .card-image {
    min-width: 100px;
  }
  .card-image-container {
    min-width: 100px;
  }
}